<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
  <h1>Scenario1</h1>
  <app-component1></app-component1>
</div>


<div style="text-align: center">
  <h1>Scenario2</h1>
  <app-component2></app-component2>
</div>


<div style="text-align: center">
  <h1>Scenario3</h1>
  <app-parent></app-parent>
</div>


<div style="text-align: center">
  <h1>Scenario4</h1>
  <app-parent1></app-parent1>
</div>



<div style="text-align: center">
  <h1>Scenario5</h1>
  <app-parent1></app-parent1>
</div>


<div style="text-align: center">
  <h1>Scenario6</h1>
  <app-parnt></app-parnt>
</div>

<div style="text-align: center">
  <h1>Scenario7</h1>
  <app-parent3></app-parent3>
</div>